h1 {
      color: #0dc6c6;
}
h2 {
      color: #0dc6c6;
}
body {
      font-family: 'Poppins', sans-serif; 
      margin-left: 200px;
      margin-top: 50px;
}
.page1 {
      color: #0dc6c6;
}
.hh2 {
      color: #0dc6c6;
}
.pp1 {
      margin-left: 35px;
}
.ll1 {
      margin-left: 12px;
}
.tapenade {
      color: #0dc6c6;
}